 .login-form {
     max-width: 300px;
     margin: 0 auto;
     text-align: left;
}
 .login-form-forgot {
     float: right;
}
 .login-form-button {
     width: 100%;
}
 .ant-card{
     margin: 0 auto;
 }
